#navigation-bar {
    background: #282C34;
    width: 100%;
    display: inline-block;
}

#navigation-bar-content {
   margin: 0% 5%;
}

#navigation-bar-items {
    padding: 5px 5px;   
}

#navigation-bar .nav-item {
    margin: 0px 2px;
}

#main-content-area {
    width: 100%;
    margin: 5px 0%;
    margin-bottom: 50px;
}

#home-content {
    margin: 15px 0px;
}

#home-image {
    width:100%;
}

.footer {
    background: #282C34;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.footer .container {
    text-align: center;
}

body {
    overflow-y: scroll; 
}

.valid-feedback-custom {
    font-size: 80%;
    color: #28a745;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-left: 0.5rem;
}

.invalid-feedback-custom  {
    font-size: 80%;
    color: #dc3545;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-left: 0.5rem;
}

.subtitle-feedback-custom  {
    margin: 5px 0px;
    font-weight: normal;
    font-size: 60%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.list-group-item, .list-group-item:hover{ 
    z-index: auto; 
}

#modal-edit .modal-dialog{  
    overflow-y: initial !important
}
#modal-edit .modal-body {
    height: 450px;
    overflow-y: auto;
}

.scrollable-menu {
    height: 150px;
    overflow-y: auto;
}